<table>
    <tr>
    <%@comments.each do |comment| %>
      <td>Commenter:</td>
    <tr></tr>
    <td><%=comment.name%></td>
    </tr>
    <tr> <td>Comment:</td>
    <tr></tr>
     <td><%=comment.comment%></td>    
</tr>
</table>