<h1>Create Posts</h1>
<% form_for :post, :url =>  posts_path do |f|%>
  <%=  render :partial => 'form', :locals => { :f => f } %>
  <p> <%= submit_tag 'Create' %></p>
  <%=link_to "back",posts_path,:class=>"link"%>
<% end %>
